.produce{
   padding-bottom: 25px;
}
.produce__chapter{
   width: 1040px;
   background: #FFFFFF;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 10px 20px 17px 20px;
}
.produce__chapter + .produce__chapter{
   margin-top: 30px;
}
.produce__top{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
}
.produce__title{
   font-family: "Montserrat";
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 29px;
   margin: 0px;
   color: #333333;
   border-bottom: 4px solid #A1D214;
   cursor: pointer;
}
.produce__main-link{
   display: inline-block;
   font-family: "Montserrat";
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   color: #333333;
   text-decoration: none;
   padding-right: 36px;
   position: relative;
   z-index: 1;
   transition: 0.2s ease;
   &:hover{
      color: #A1D214;
   }
   &::before{
      content: "";
      position: absolute;
      z-index: 1;
      background-image: url(../img/link-before.svg);
      width: 22px;
      height: 10.7px;
      top: 3px;
      right: 0px;
   }
}
.produce__list{
   display: flex;
   margin: 0px;
   padding: 0px;
   list-style: none;
}
.produce__item{
   background: #FFFFFF;
   border-radius: 10px;
   width: 160px;
   transition: 0.2s ease;
   position: relative;
   z-index: 1;
   &:hover{
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
   }
}
.produce__item-link{
   display: inline-block;
   padding: 10px;
   text-decoration: none;
}
.produce__item + .produce__item{
   margin-left: 12px;
}
.block{
   display: none;
}
.produce__input:checked ~ .produce__svg>.produce__path{
   fill: #A1D214;
}
.produce__form{
   position: absolute;
   z-index: 2;
}
.produce__img{
   display: block;
   margin: 0px auto 8px auto;
}
.produce__svg{
   cursor: pointer;
}
.feedback{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 7px;
}
.feedback__quantity{
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 15px;
   color: #333333;
   opacity: 0.5;
}
.produce__describe{
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 15px;
   margin-top: 0px;
   margin-bottom: 5px;
   color: #333333;
}
.produce__price{
   font-family: "Montserrat";
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   color: #FF5C00;
   margin-right: 10px;
}
.produce__old-price{
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 500;
   font-size: 10px;
   line-height: 12px;
   color: #333333;
   position: relative;
   z-index: 1;
   &::before{
      content: "";
      width: 45px;
      height: 1px;
      position: absolute;
      z-index: 2;
      top: 50%;
      background-color: #FF5C00;
   }
}
.produce__link{
   text-decoration: none;
   display: flex;
   align-items: center;
   margin: 0px 10px 10px 10px;
   transition: 0.2s ease;
   &:hover{
      background: #A1D214;
      border-radius: 5px;
   }
}
.produce__symbol{
   display: inline-block;
   font-family: "Montserrat";
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 29px;
   color: #333333;
   padding: 3px 10px;
   background: #A1D214;
   border-radius: 5px;
   text-align: center;
   margin-right: 10px;
}
.produce__add{
   font-family: "Montserrat";
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 15px;
   color: #333333;
}